#reloj{
    font-family: sans-serif;
    font-size: 60px;
    text-shadow: 0px 0px 1px #333;
    color:#fff;
    
}
.reloj-contenedor{
    background: #ff5500;
    padding:25px;
    max-width: 350px;
    text-align: center;
    border-radius: 5px;
    margin:0 auto;
    margin-top: 10%;
    box-shadow: 30px 30px 60px #6e6e6e;
}
#fecha{
    letter-spacing: 10px;
    font-size:15px;
}
.animar{
    border: 3px solid black;
}